*{

}
 .h1{; color: black; padding: auto; font-size: 40px;
    text-align:center;
}
.tamim11{ text-align: center;}
nav{ text-align: center; font-style: normal; font-size: 35px;
nav-up: auto; background-color: chartreuse; padding-right: 10;}


.dddddd,th,td{ border: 1px solid black; width: 40%;
border-collapse: collapse; text-align: center; border-style: solid 1px;  text-align: center; }
.kkjj{ background-color: antiquewhite; color: blue; text-align: center; height: 50px; width: ;}
.pag{ background-color: chartreuse; height: fit-content; }
.jkg11{ background-color: aqua;}
.mmmm1{ background-color: rgb(10, 212, 145); color: rgb(220, 60, 60);}
.div11{ background-color: black; color: aliceblue; text-align: center; font-size: 15px;}
.div111{ border: 02px dotted black; text-align: center;}
.maxresulation{ color: chartreuse ; background-color: beige; 
text-align: center;
border-bottom: 3px solid brown ; bottom: }
